<p>create works!</p>
<div class="left">
  <input type="text" placeholder="name" #name />
  <input type="text" placeholder="url" #url />

  <button (click)="addTutorial(name.value, url.value)">Add a Tutorial</button>
</div>

<!-- <div class="right" *ngIf="tutorials$"> -->
<div class="right">
  <h3>Tutorials</h3>
  <ul>
    <li
      (click)="delTutorial(tutorial.name)"
      *ngFor="let tutorial of tutorials$ | async"
    >
      <a [href]="tutorial.url" target="_blank">{{ tutorial.name }}</a>
    </li>
    <li>
      <app-read></app-read>
    </li>
  </ul>
</div>
